.action-container {
  background-color: #003881;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.action-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 50px;
}

.action-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
